@import "./../core/baseStyling.scss";

#render {
  background: $primaryGreen; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(bottom, $primaryGreen, $primaryBlue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, $primaryGreen, $primaryBlue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, $primaryGreen, $primaryBlue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(top, $primaryGreen, $primaryBlue); /* Standard syntax */
}

#register-user-form-container {
  background: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid #F1F4F6;
  width: 500px;
  height: 600px;
  margin-top: -300px;
  margin-left: -250px;
}

.register-user-form-inputs {
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 50px;
  border-radius: 0px;
}



