@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

$primaryBlue: #3A4150;
$primaryGreen: #56A17F;
$buttonGreen: #5CD3B4;
$buttonGreenBorder: #3ABD9C;
$buttonPink: #FA565A;
$buttonPinkBorder: #E53035;

body {
  z-index: 1;
  font-family: "Open Sans", sans-serif;
  color: #819AA0;
}

input[type=password] {
  color: $buttonGreen;
  font-size: 20px;
}

input[type=email] {
  font-size: 15px;
}

input[type=password]::-webkit-input-placeholder {
  font-size: 15px;
}

input[type=password]::-moz-placeholder {
  font-size: 15px;
}

input[type=password]::-moz-placeholder {
  font-size: 15px;
}

#render {
  position: absolute;
  left: 50%;
  margin-left: -50%;
  height: 100%;
  width: 100%;
  z-index: 5;
}

.btn {
  border-radius: 0px;
  color: #fff;
  font-size: 14px;
}

.btn:hover {
  color: #fff;
}

.greenBtn {
  border: 2px solid $buttonGreenBorder;
  background: $buttonGreen;
}

.greenBtn:hover {
  border: 2px solid $buttonGreenBorder;
  background: $buttonGreenBorder;
}

.pinkBtn {
  border: 1px solid $buttonPinkBorder;
  background: $buttonPink;
}

.pinkBtn:hover {
  border: 1px solid $buttonPinkBorder;
  background: $buttonPinkBorder;
}

.boldText {
  font-weight: 700;
  color: $primaryBlue;
}




