@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

$primaryBlue: #3A4150;
$primaryGreen: #56A17F;
$buttonGreen: #5CD3B4;
$buttonPink: #FA565A;

body {
  z-index: 1;
  font-family: "Open Sans", sans-serif;
}

#render {
  position: absolute;
  left: 50%;
  margin-left: -50%;
  height: 100%;
  width: 100%;
  z-index: 5;
}

.btn {
  border-radius: 0px;
  color: #fff;
}

.greenBtn {
  border: 1px solid $buttonGreen;
  background: $buttonGreen;
}

.pinkBtn {
  border: 1px solid $buttonPink;
  background: $buttonPink;
}


